<div class="header">
    <div class="container">
        <a routerLink="/" id="textLogo">
            <img src="assets\img\Text-Logo.png" alt="furnimate" width="130px">
        </a>
        <div class="searchBox">
            <input id="searchBar" type="text" placeholder="Buscar producto...">
            <a routerLink="/" id="searchIcon">
                <img src="assets\img\Search.png" width="20px">
            </a>
        </div>
        <a routerLink="/carrito" id="cartIcon">
            <img src="assets\img\Cart.png" alt="Cart" width="35px">
        </a>
        <a routerLink="/perfil" id="profileIcon">
            <img src="assets\img\Profile.png" alt="Profile" width="35px">
        </a>
        <a routerLink="/login" id="profileIcon">
            <button>LOGIN</button>
        </a>
    </div>
</div>