.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100vw;
    height: 50px;
    padding: 2em 0;
    border-bottom: 2px solid rgb(241, 241, 241);
    background-color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

#searchIcon,
#cartIcon,
#profileIcon {
    margin-left: 15px;
}

.login button {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  background-color: purple;
  border: 3px solid rgb(111, 0, 111);
  font-weight: bold;
  transition: all 0.2s;
}
.login button:hover {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  color: purple;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(111, 0, 111);
  font-weight: bold;
  cursor: pointer;
}

.logout button {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  background-color: salmon;
  border: 3px solid rgb(181, 79, 68);
  font-weight: bold;
  transition: all 0.5s;
}
.logout button:hover {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  color: salmon;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(181, 79, 68);
  font-weight: bold;
  cursor: pointer;
}