.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100vw;
    height: 50px;
    padding: 2em 0;
    border-bottom: 2px solid rgb(241, 241, 241);
    background-color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

#searchIcon,
#cartIcon,
#profileIcon {
    margin-left: 15px;
}