<br><br>

<div class="userProfile">
  <div class="centrar-contenido">
    <h3 class="userName">MUEBLERIA CARLOS LOZANO</h3>
    <br>
    <img class="userPicture" src="assets\img\Logo.png">
    <br><br>
    <p>Bienvenido a nuestra pagina, nuestra Muebleria es símbolo de calidad/precio, vendemos desde bancos hasta sillas, esta es nuestra sede:</p>
    <br>
    <p><a class="hipervinculo" href="https://maps.app.goo.gl/sEfydGKZb6PCaBim6">Cl. 72u Dg. 26p #8373</a></p>
  </div>
</div>

<br><br><br>

<div class="userCatalog">
<app-catalog></app-catalog>
</div>