<div class="userProfile">
  <div class="centrar-contenido">
    <h3 class="userName">Mueblería Los Templarios</h3>
    <br><br>
    <img class="userPicture" src="https://st2.depositphotos.com/4055463/6586/i/450/depositphotos_65865203-stock-photo-beautiful-vintage-sofa-3d-rendering.jpg" alt="Logo">
    <p>Bienvenido a nuestra página, nuestra Mueblería es símbolo de calidad/precio, vendemos desde bancos hasta sillas, esta es nuestra sede:</p>
    <p><a class="hipervinculo" href="https://maps.app.goo.gl/sEfydGKZb6PCaBim6">Cl. 72u Dg. 26p #8373</a></p>
  </div>
</div>

<div class="userCatalog">
  <app-catalog></app-catalog>
</div>