.userPicture {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto 20px;

}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 45vh; 
}

.centrar-contenido {
  max-width: 400px;
  margin: 20px auto; 
}

.hipervinculo {
  text-decoration: underline;
  color: blue;
}