<div class="formulario-registro">
<h1 class="title">Crea una cuenta en furnimate.</h1>
<br>
<form action="" id="formulario">
    <label class="labels">Ingresa un nombre de usuario o empresa</label>
    <br>
    <input type="text" name="*" id="user" class="input_registro">
    <br>
    <label for="" class="labels">Ingrese su correo electronico</label>
    <br>
    <input type="text" name="" id="gmail" class="input_registro">
    <br>
    <label for="" class="labels">Ingrese su contraseña</label>
    <br>
    <input type="text" name="" id="password" class="input_registro">
    <br>
    <label for="" class="labels">Vuelva a ingresar su contraseña</label>
    <br>
    <input type="text" name="" id="repeat_password" class="input_registro">
    <br><br>
    <button>REGISTRARSE</button>
</form>
</div>
