<br><br><br><br><br><br>
<div class="formulario-registro">
    <h1 class="title">Regístrate en furnimate.</h1>
    <br>
    <form action="" id="formulario">

        <label class="labels">Nombre de usuario/empresa</label>
        <input type="text" name="username" id="user" class="input_registro">

        <label class="labels">Correo electrónico</label>
        <input type="text" name="username" id="user" class="input_registro">

        <label class="labels">Crea una contraseña</label>
        <input type="password" name="password" id="password" class="input_registro">

        <label class="labels">Confirma la contraseña</label> 
        <input type="password" name="password" id="password" class="input_registro"> <br><br>

        <button class="a-button" routerLink="">¡EMPIEZA YA!</button> 
    </form>
</div>