<footer class="footer">
    <div class="container">
        <div class="info">
            <h5>Información sobre Furnimate</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facere porro rem nostrum quia, 
                eos velit? Quis quisquam sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet 
            </p>
        </div>
        <div class="info">
            <h5>Furnimate en otros idiomas</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facere porro rem nostrum quia, 
                eos velit? Quis quisquam sed  
            </p>
        </div>
    </div>
</footer>