<br><br><br><br><br><br><br><br>
<div class="formulario-registro">
    <h1 class="title">Inicia sesión en furnimate.</h1>
    <form action="" id="formulario">
        <label class="labels">Ingresa tu nombre</label>
        <input type="text" name="username" id="user" class="input_registro">
        <label for="" class="labels">Ingresa tu contraseña</label>
        <input type="password" name="password" id="password" class="input_registro">
        <button class="one-button" routerLink="">INICIAR SESIÓN</button>
        <button class="one-button" routerLink="/registro">REGISTRARSE</button>
        <button class="two-button">OLVIDÉ MI CONTRASEÑA</button>
    </form>
</div>