<div class="formulario-registro">
    <h1 class="title">Inicia sesión en furnimate.</h1>
    <br>
    <form action="" id="formulario">
        <label class="labels">Ingresa tu nombre</label>
        <br>
        <input type="text" name="*" id="user" class="input_registro">
        <br>
        <label for="" class="labels">Ingresa tu contraseña</label>
        <br>
        <input type="text" name="*" id="user" class="input_registro">
        <br><br>
        <button>INICIAR SESIÓN</button>
        <br>
        <button routerLink="/registro">REGISTRARSE</button>
        <br>
        <button>OLVIDÉ MI CONTRASEÑA</button>
    </form>
</div>
