<div class="formulario-registro">
<h1 class="title">Inicia sesión en furnimate.</h1>
<br><br>
<form action="" id="formulario">
    <label class="labels">Ingresa tu nombre de usuario o empresa</label>
    <br>
    <input type="text" name="*" id="user" class="input_registro">
    <br><br>
    <label for="" class="labels">Ingrese su contraseña</label>
    <br>
    <input type="text" name="" id="password" class="input_registro">
    <br><br><br>
    <button>INICIAR SESIÓN</button>
    <br><br>
    <button routerLink="/register">REGISTRAR CUENTA</button>
    <br><br>
    <button>Olvidé mi contraseña</button>
</form>
</div>

