<footer class="footer">
    <div class="container">
        <div class="social-media">
            <p>Tambien puedes encontranos en:</p>
            <div class="links">
                <a href="https://www.instagram.com/furnimate_zw/" target="_blank"><img src="assets\img\ig.png" alt="instagram" width="30px"></a>
                <a href="https://www.facebook.com/profile.php?id=100093635765772" target="_blank"><img src="assets\img\fb.png" alt="instagram" width="30px"></a>
            </div>
        </div>
        <div class="help-group">
            <div class="help">
                <h5>Guía de usuario</h5>
                <ul>
                    <li><a href="/">Crear cuenta</a></li>
                    <li><a href="/">Información sobre el pago</a></li>
                    <li><a href="/">Información sobre el envío</a></li>
                </ul>
            </div>
            <div class="help">
                <h5>Atención al cliente</h5>
                <ul>
                    <li><a href="/">Preguntas frecuentes</a></li>
                    
                    <li><a href="/">Terminos y condiciones</a></li>
                    <li><a href="/">Buzón de sugerencias</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    