<div class="container">
  <h4>Filtros</h4>
  <ul class="filter-list">

    <li><label><span>Muebles</span><input type="checkbox"></label></li>
    <li><label><span>Asientos</span><input type="checkbox"></label></li>
    <li><label><span>Camas</span><input type="checkbox"></label></li>
    <li><label><span>Armarios</span><input type="checkbox"></label></li>

    <li id="moreFilters">Otros <img id="plusIcon" src="assets/img/Plus.png" width="15px" height="15px"></li>

    <li><label><span>Relevantes</span><input type="checkbox"></label></li>
    <li><label><span>Más vendidos</span><input type="checkbox"></label></li>
    <li><label><span>Más recientes</span><input type="checkbox"></label></li>
    
  </ul>
</div>