<div class="container">
  <div class="product-body">
    <div class="product-img">
      <img #productImage alt="imagen_producto">
    </div>
    <div class="product-info">
      <div class="product-gdata">
        <h3>Nombre del Producto</h3>
        <h3>COP $$$$</h3>
      </div>
    </div>
  </div>
  <div class="product-descrip">
    <h3>Descripción</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur dolores perspiciatis optio, fugit, praesentium delectus, nihil obcaecati excepturi sapiente dolorum nam nulla eligendi quibusdam! Nostrum.</p>
  </div>
</div>
