.container{
  max-width: 1000px;
  padding-left: 100px;

}

.product-body{
  display: flex;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -10px rgb(0, 0, 0, 0.7);
  padding: 20px 20px;
  max-width: 100%;
}

.container img{
  max-width: 400px;
}
