.container{
  width: 100vw;


}

.product-img{
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 450px;
  height: 450px;
}

.product-img img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-body{
  display: flex;
  border: none;
  padding: 15px 15px;
}


.product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.product-gdata h3{
  margin-bottom: 10px;
}

.product-descrip h3{
  margin-bottom: 5px;
}
