.container{
  width: 100vw;
}
.product-img{
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 450px;
  height: 450px;
}

.product-img img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-body{
  display: flex;
  border: none;
  padding: 15px 15px;
}


.product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.product-gdata h3{
  margin-bottom: 10px;
}

.product-descrip h3{
  margin-bottom: 5px;
}

.two-button {
    background-color: rgb(255, 247, 247);
    color:gray;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px; 
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}
.two-button:hover {
    background-color: lightgray;
    color:white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px; 
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}