<!-- <div *ngFor="let item of items" class="item">
  <div class="item-img">
      <img src="" alt="item">
  </div>
  <div class="item-body">
      <h4>{{item.title}}</h4>
      <h3>COP {{item.price}}</h3>
      <p>Debug: {{ item | json }}</p>

  </div>
</div> -->

<div class="item">
    <div class="item-img">
        <img #itemImage src="" alt="item">
    </div>
    <div class="item-body">
        <h4>Nombre del producto</h4>
        <h3 class="currencyText">COP</h3><h3>50.000</h3>
    </div>
</div>
