<div class="container">
    <app-filters></app-filters>
    <!--<div *ngFor="let producto of productos | filterProductos:filtro">
{{ producto.nombre }}
</div>-->
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>
<app-item routerLink="/producto"></app-item>

</div>

