img{
    height: 100px;
    width: 100px;
}
.total-label {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #757575;
  }
  
  .total {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
    margin-top: 54px;
  } 
  
  button {
    padding: 12px 16px;
    margin-top: 14px;
    background-color: #9A6CC8;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  button:hover,
  button:focus {
    background-color: #8c51c7;
    outline: none;
  }
 
  button:disabled {
    background-color: #bbb;
    color: #777;
    cursor: not-allowed;
  }